.app {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app .heading {
  position: relative;
  padding: 20px 0;
}

.container {
  position: relative;
  width: 50%;
  flex: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.todoList {
  position: relative;
  width: 100%;
  margin-top: 50px;
}
h1.completed{
  pointer-events: none;
  text-decoration: line-through;
}
h1.notCompleted{
  cursor:pointer;
}
h1.notCompleted:hover{
  box-shadow:0px 0px 5px rgba(0,0,0,0.2);
}